header{
    padding: 1vw 4vw;
    text-align: center;
}

header h1{
  margin: 2vw 0;
  font-weight: 800;
}

header li{
  margin: 4vw 0;
}

.atual{
    color: #2563EB;
}

header p{
    background-color: #1E2A3F;
    padding: 0.5vw;
    border-radius: 40px;
}

header span{
    color: #2563EB;
}

footer {
    text-align: center;
    padding: 6vw 8vw;
    background-color: #0F172A;
    color: white;
}

footer p{
    margin: 4vw 0;
    font-weight: 700;
}

footer strong{
  font-weight: 800;
}

footer div p{
    margin: 4vw 0;
    font-weight: 400;
}