@import url('https://fonts.googleapis.com/css2?family=Epilogue:ital,wght@0,100..900;1,100..900&family=Fredoka:wght@300..700&family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Oswald:wght@200..700&display=swap');

/* ==== FORMATAÇÃO GERAL === */
html {
  font-family: "Epilogue", sans-serif;
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

/* BANNER */
.banner {
  background-color: #1D2638;
  color: white;
  text-align: center;
  padding: 3rem 1.5rem;
}
.banner img{
  width: 5vw;
}
header img{
    width: 4vw;
}

.banner h2 {
  margin-bottom: 1rem;
  font-size: 2.2rem;
  font-weight: 900;
}

.banner p {
  font-size: 1.1rem;
  max-width: 600px;
  margin: 0 auto;
}
