@import url('https://fonts.googleapis.com/css2?family=Epilogue:ital,wght@0,100..900;1,100..900&family=Fredoka:wght@300..700&family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Oswald:wght@200..700&display=swap');
/*
Follow - font-family: "Fredoka", sans-serif;
Medu - Oswald
*/
/* ==========================*/

/* ==== FORMATAÇÃO GERAL === */
html {
    font-size: clamp(1rem, 2vw + 0.8rem, 3rem);
    font-family: "Epilogue", sans-serif;
}

.banner{
  background-color: #11182A;
  color: white;
  text-align: center;
  padding: 6vw 4vw;
}

.banner h1{
  margin: 2vw 0;
  font-size: 2.5rem;
  font-weight: 900;
}

/*===INVENCOES===*/
section.invencoes {
    text-align: center;
    margin: 5vw 0 0 0;
}

section.invencoes h1 {
    font-size: 2rem;
    font-weight: bolder;
}

section.invencoes ul {
    margin: 8vw;
}

section.invencoes ul li {
    margin: 5vw 0 0 0;
}

section.invencoes ul li.orange {
    text-align: left;
    border-style: solid;
    border-width: 3px;
    border-color: orange;
    padding: 4vw;
    border-radius: 20px
}

section.invencoes ul li.orange h3 {
    color: orange;
    font-size: 2rem;
    font-weight: bold;
}

section.invencoes ul li div.blocos {
    display: flex;
}

section.invencoes ul li div.blocos div.antiga {
    margin: 3vw;
    background-color: #E9E9E9;
    padding: 2vw 1vw 2vw 1vw;
    border-radius: 20px;
}

section.invencoes ul li div.blocos div.antiga p {
    color: #616161;
    font-size: 0.7rem;
}

section.invencoes ul li div.blocos div.moderna {
    margin: 3vw;
    background-color: #E9E9E9;
    padding: 2vw 1vw 2vw 1vw;
    border-radius: 20px;
}

section.invencoes ul li div.blocos div.moderna p {
    color: #616161;
    font-size: 0.7rem;
}

section.invencoes ul li.orange div.impacto {
    font-size: 0.6rem;
    color: #616161;
    background-color: rgba(255, 166, 0, 0.219);
    padding: 2vw;
    border-radius: 20px;
}

section.invencoes ul li.blue {
    text-align: left;
    border-style: solid;
    border-width: 3px;
    border-color: #2563EB;
    padding: 4vw;
    border-radius: 20px
}

section.invencoes ul li.blue h3 {
    color: #2563EB;
    font-size: 2rem;
    font-weight: bold;
}

section.invencoes ul li.blue div.impacto {
    font-size: 0.6rem;
    color: #616161;
    background-color: #2564eb5c;
    padding: 2vw;
    border-radius: 20px;
}

section.invencoes ul li.purple {
    text-align: left;
    border-style: solid;
    border-width: 3px;
    border-color: #9B0BF5;
    padding: 4vw;
    border-radius: 20px
}

section.invencoes ul li.purple h3 {
    color: #9B0BF5;
    font-size: 2rem;
    font-weight: bold;
}

section.invencoes ul li.purple div.impacto {
    font-size: 0.6rem;
    color: #616161;
    background-color: #9b0bf549;
    padding: 2vw;
    border-radius: 20px;
}

section.invencoes ul li.green {
    text-align: left;
    border-style: solid;
    border-width: 3px;
    border-color: #25EB5D;
    padding: 4vw;
    border-radius: 20px
}

section.invencoes ul li.green h3 {
    color: #25EB5D;
    font-size: 2rem;
    font-weight: bold;
}

section.invencoes ul li.green div.impacto {
    font-size: 0.6rem;
    color: #616161;
    background-color: #25eb5d62;
    padding: 2vw;
    border-radius: 20px;
}

/*===CURIOSIDADES===*/
section.curiosidades {
    text-align: center;
    background-color: #2563EB;
    color: white;
}

section.curiosidades ul {
    padding: 8vw;
}

section.curiosidades h1 {
    padding: 3vw;
    font-size: 3rem;
    font-weight: bold;
}

section.curiosidades h2 {
    font-size: 0.8rem;
}

section.curiosidades ul li {
    background-color: #467EFA;
    margin: 5vw;
    padding: 2vw;
    border-radius: 20px;
}






/* MEDIA QUERY - DESKTOP */
@media only screen and (min-width: 600px) {

    /*===INVECOES===*/
    
    .banner h1{
      font-size: 4rem;
    }
    
    section.invencoes {
        text-align: center;
    }

    section.invencoes h1 {
        font-size: 3rem;
    }

    section.invencoes ul {
        display: flex;
        flex-wrap: wrap;
        margin: 3vw;
    }

    section.invencoes ul li img {
        height: 8vw;
    }

    section.invencoes ul li {
        margin: 8vw 20vw 0vw 20vw;
    }

    /*===CURIOSIDADES===*/
    section.curiosidades h1 {
        font-size: 5rem;
    }

    section.curiosidades h2 {
        font-size: 1.1rem;
        margin: 0;
    }

    section.curiosidades ul {
        margin: 0vw 3vw 1vw 3vw;
    }

    section.curiosidades ul li img {
        height: 4vw;
    }

    section.curiosidades ul li {
        text-align: left;
    }



}